body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #999999;
    min-width: 720px;
}

h2 {
    text-align: center;
    background-color: black;
    color: #91C0E5;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    padding: 2% 2%; 
}

#headline {
    text-align: center;
    background-color: black;
    color: white;
    margin-top: 40px;
    font-size: medium;
    padding: 0.6% 0.6%;
    
}

#headline2 {
    text-align: center;
    background-color: black;
    color: white;
    padding: 0.6% 0.6%;
    font-size: medium;
}


button {
    background-color: black;
    color: white;
    width: 100%;
    height: 42px;
    font-size: medium;

    
}

input {
    height: 36px;
    text-align: center;
    font-size: medium;
}

table {
    width: 100%;
    
}

thead {
    background-color: #91C0E5;
}

th {
    color: black;
    font-size: medium;
}

p {
    font-weight: bolder;
}

textarea {
    font-family: inherit;
    font-size: inherit;
}

#inbox4::-webkit-scrollbar {
	width: 5px
}

#inbox4::-webkit-scrollbar-track {
	background: #91C0E5;
}

#inbox4::-webkit-scrollbar-thumb {
	background: black;
}

#inbox4::-webkit-scrollbar-button {
	background: black;
}


#outerFlexbox1 {
    display: flex;
    flex-direction: row;
    background-color: #91C0E5;
    border-width: 3px;
    border-style: solid;
    border-color: black;
}

#outerFlexbox2 {
    display: flex;
    flex-direction: row;
    background-color: #91C0E5;
    border-width: 3px;
    border-style: solid;
    border-color: black;
}

#outerFlexbox3 {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    height: 214px;
}

#outerFlexbox4 {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-width: 3px;
    border-style: solid;
    border-color: black;
}

#inbox1 {
    flex: 1;
    padding: 2% 10%;
}

#inbox2 {
    flex: 1;
    padding: 2% 3%;
}

#inbox3 {
    flex: 1;
    background-color: #91C0E5;
    padding: 2% 3%;
    border-right: 3px;
    border-right-style: solid;
    border-right-color: black;
}

#inbox4 {
    flex: 3;;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 212px; 
}

#inbox5 {
    flex: 1;
    text-align: center;
    padding-top: 45px;
    font-size: 40px;
}

#measurements {
    display: flex;
    flex-direction: row;
}


#button2 {
    margin-top: 10px;
}

#sample2 {
    width: 98%;
}

#field {
    border-width: 3px;
    border-style: solid;
    border-color: black;
    background-color: #91C0E5;
    padding: 1% 20%;
    font-size: medium;
}

#inputField2 {
    font-size: medium;
    width: 100%;
    height: 80px;
    
}

#newDescription {
    width: 100%;
    height: 80px;
    font-size: medium;
}

#sample {
    width: 100%;
}

#newSample {
    width: 100%;
}

#createSample {
    background-color: #91C0E5;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

#alertSaved {
    background-color: #93FF9B;
    font-size: large;
}

#alertNotSaved {
    background-color: #FF6C76;
    font-size: large;
}

#target1 {
    margin: auto 5px;
    width: 60px;
}

#target2 {
    margin: auto 5px;
    width: 60px;
}

#target3 {
    margin: auto 5px;
    width: 60px;
}

#reference {
    margin: auto 5px;
    width: 60px; 
}





